* {
    margin: 0px; 
    padding: 0px; 
    font-size: 32px; 
}

html{
    min-height: 100%;
}

body{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}

img{
    max-width: 100%;
    max-height: 100%;
}

button{
    border: none;  
}

/* Christopher Hand - latin-ext_latin */
@font-face {
    font-family: 'Christopher Hand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/comesinhandy.ttf'); /* IE9 Compat Modes */
    src: local('Christopher Hand'), local('comesinhandy'),
         url('../fonts/comesinhandy.ttf') format('truetype'), /* Safari, Android, iOS */
  }

@font-face {
    font-family: 'Coffee House';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/coffeehouse.ttf'); /* IE9 Compat Modes */
    src: local('Coffee Huse'), local('coffeehouse'),
         url('../fonts/coffeehouse.ttf') format('truetype'), /* Safari, Android, iOS */
  }

  @font-face{
      font-family: 'Optimus Princeps';
      font-style: normal;
      font-weight: 400;
      src: url('../fonts/optimusprinceps.ttf');
      src: local('Optimus Princeps'), local('optimusprinceps'),
          url('../fonts/optimusprinceps.ttf'), format('truetype'),
  }

.ease{
    height: 10px;
    overflow: hidden; 
    position: absolute;
    z-index: 100;
    bottom: 0%; 
}

.ease:hover{
    height: 75px;
    width: 100%; 
}

.container{
    background: linear-gradient(45deg, #3e3e3e, black 90%);
    min-height: 100%; 
    position: absolute; 
    width: 100%; 
    z-index: -1; 
}

.title{
    font-size: 3.5em; 
    color: #fff7e7; 
    text-align: center; 
    font-family: 'Christopher Hand', sans-serif;
    margin-top: 10px; 
}

.subtitle{
    font-size: 1.2em; 
    color: #9c6466;
    text-align: center; 
    font-family: 'Coffee House', sans-serif; 
    margin: 0px 0px 40px 0px; 
}

.search-from{
    display: grid; 
    grid-template-columns: 40% 27% 32%; 
    width: 85%; 
    margin: 0px auto 0px auto; 
}

.s-label{
    color: #8d8d8d;
    font-family: 'Optimus Princeps', sans-serif; 
    font-size: 1.35em; 
}

.g-label{
    width: 88%; 
   text-align: center;
}

.c-label{
    width: 93%; 
    text-align: center; 
}

.d-label{
    text-align: center;
}

.question-mark{
    font-size: 1.2em; 
    color: #9c6466;
    font-family: 'Christopher Hand', sans-serif;
    margin: 0px 0px 0px -10px;  
}

.city-input{
    width: 93%; 
}

.interest-input{
    width: 88%; 
}

.date-input{
    width: 45%; 
    font-size: 0.5em; 
}

.input{
    border: none; 
    border-radius: 5px; 
    margin: 25px 0px 0px 0px; 
}

.dates{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.search-btn{
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 100px 0px 0px auto;
    width: 50%;  
    font-size: 3em; 
    font-family: 'Coffee House', sans-serif; 
    border-radius: 5px; 
    background: #9c6466;
    color: #fff7e7;

}


.eventList {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
   }
.favBtn {
    height: 25px;
    width: 75px;
    margin-bottom: 10px;
}




